/* =========
Your custom styles go here
 ========= */

.content-block-title{
    margin:10px;
    padding: 10px;
    text-transform: none;
}

html.ios-gt-8 .navbar .center {
    width: 100%;
}

.navbar-fixed .page-content, .navbar-through .page-content{
    padding-top: 0;
}

.content-block-title{
    font-size: 15px;
}

.list-block{
    font-size: 14px;
    margin: 0;
}

.content-block{margin: 0}

.navbar + .pages{
    margin-top: 43px;
}

.button,.button.button-big{
    height: auto;
    padding: 5px;
    line-height: inherit;
    margin-bottom: 10px;
}

.navbar + .page-content > .list-block > ul {
    margin-top: 43px;
}

.ripple-wave {
    position: absolute;
    margin-top: 0 !important;
}